*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #26262B;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    margin: auto;
    width: 1200px;
}

.image-banner {
    
    filter: blur(0px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(114, 137, 218, 0.4)), url(../images/moon.jpg);
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 100vh;  
    background-size: cover;
    background-attachment: fixed;
}

.professores ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.professores img {
    border-radius: 120px;
}

.dwork {
    font-weight: bold;
}

.white-home{
    
    background-color: white;
    /* width: 100vw;
    height: 300px; */
}

nav ul a{
    /* font-weight: bold; */
    font-weight: lighter;
    color: white;
    text-decoration: none;
    align-items: center;
    display: flex;
    padding: 5px;
}

nav ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.white-home p {
    
    padding: 40px 0px 0px;
    font-size: 18px;
}

.info-home h1 {
    line-height: 85px;
    letter-spacing: 20px;
    font-weight: bold;
    font-size: 80px;
}

.white-home h2{
    padding: 60px 0px 0px;
    font-weight: bold;
    font-size: 40px;
}

.info-home p {
    letter-spacing: 10px;
    font-size: 20px;
}

.info-home {
    
    line-height: 0.8;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    /* height: 763px; */
    height: 74vh;
}

.images-home p {
    /* text-shadow: 2px 2px 1px rgb(104, 104, 104);
    color: #7289DA; */
    text-align: center;
    font-size: 25px;
    /* font-weight: bold; */
}

.tower-home{
    padding: 60px 0px 40px;
    width: 850px;
}

.sobre-home {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-home {
    padding: 60px 0px 40px;
    text-align: center;
}

.images-home {
    padding: 60px 0px 0px;
    display: flex;
    justify-content: space-around;
}

.drink-home {
    width: 100px;
}

.btn-menu {
    padding: 10px;
    width: 35px;
}

.logo-home {
    padding: 10px;
    color: white;
    width: 35px;
}

.detalhes a{
    
    text-decoration: none;
}
footer ul{
    padding: 40px 0px 80px;
    list-style: none;
    justify-content: space-between;
    display: flex;

    color:white;
}

.estudar h2{
    text-align: center;
    padding: 60px 0px 0px ;
}

.professores h2 {
    text-align: center;
    padding: 60px 0px 0px ;
}
    
.professores ul {
    padding: 60px 0px 0px;
}