*{
    padding: 0;
    margin: 0;
}

body .white-home h2{
    color:#8C9EFF;
}


body{
    background-color: #26262B;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    margin: auto;
    width: 1200px;
}

.image-banner {
    
    filter: blur(0px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(114, 137, 218, 0.4)), url(../images/moon.jpg);
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 100vh;  
    background-size: cover;
    background-attachment: fixed;
}

.cursos-home {
    padding: 0px 0px 74px;
    background-color: #8C9EFF;
}

.cursos-home h2 {
    color:white;
    font-size: 40px;
   
    padding: 60px 0px 0px;
}

/* .professores ul p{
    line-height: 0.05;
} */

.professores ul {
    
    padding: 60px 0px 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.professores img {
    border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 3px solid;
    /* border-radius: 120px; */
}

.dwork {
    font-weight: bold;
}

.white-home{
    
    background-color: white;
    /* width: 100vw;
    height: 300px; */
}

nav ul a{
    /* font-weight: bold; */
    font-weight: lighter;
    color: white;
    text-decoration: none;
    align-items: center;
    display: flex;
    padding: 5px;
}

nav a:hover {
    color: #8C9EFF;
    transition: 0.2s;;
}

nav ul{
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.white-home p {
    
    padding: 40px 0px 0px;
    font-size: 18px;
}

.info-home h1 {
    line-height: 85px;
    letter-spacing: 20px;
    font-weight: bold;
    font-size: 80px;
}

.white-home h2{
    padding: 60px 0px 0px;
    font-weight: bold;
    font-size: 40px;
}

.info-home p {
    letter-spacing: 10px;
    font-size: 20px;
}

.info-home {
    
    line-height: 0.8;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    /* height: 763px; */
    height: 74vh;
}

.images-home p {
    /* text-shadow: 2px 2px 1px rgb(104, 104, 104);
    color: #7289DA; */
    text-align: center;
    font-size: 25px;
    /* font-weight: bold; */
}

.tower-home{
    padding: 60px 0px 40px;
    width: 850px;
}

.sobre-home {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-home {
    
    padding: 60px 0px 0px;
    text-align: center;
}

.images-home {
    padding: 60px 0px 40px;
    display: flex;
    justify-content: space-around;
}

.drink-home {
    width: 100px;
}

.btn-menu {
    padding: 10px;
    width: 35px;
}

.logo-home {
    padding: 10px;
    color: white;
    width: 35px;
}

.detalhes ul a{
    color: white;
    text-decoration: none;
}
footer ul{
    padding: 40px 0px 80px;
    list-style: none;
    justify-content: space-between;
    display: flex;

    color:white;
}

.estudar h2{
    text-align: center;
    padding: 60px 0px 0px ;
}

.professores h2 {
    text-align: center;
    padding: 60px 0px 0px ;
}
    

.professores li{
        
    display: flex;
    flex-direction: column;
    align-items: center;
}

.professores p {
    font-size: 22px;
    padding: 40px 0px 0px;
}

.professores {
    padding: 0px 0px 120px;
}

.html-card-cursos-home p {
    font-size: 18px ;
    position: relative;
    color:white;
    top: 149px;
    left: 224px;
}



.card-cursos-home {
    
    text-align: center;
    padding: 40px 0px 0px;
}


.html-card-cursos-home {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);

    padding: ;
    border-radius: 5px 5px 0px 0px;
    /* border: solid 1px black; */
    background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url("http://unsplash.it/350/200/?=landscape");
    height: 200px;
    width: 350PX;
    /* background-image: url("http://placehold.it/200x350"); */
    background-repeat: no-repeat;
    background-size: cover;
    
}

.display-card-home {
    display: flex;
    justify-content: space-between;
    
}



.card-cursos-home p{
    text-align: center;
    padding: 25px;
    text-align: justify;
    text-justify: inter-word;
    width: 300PX;
    font-size: 18px;
}

.curso-info-home h3{
    text-align: center;
    padding: 20px 0px 0px 0px;
}


.curso-info-home {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    color: black;
    
}





.btn-medium {
    position: relative;
    top: -11px;
    left: 0;
   font-size: 20px;
    text-decoration: none;
    background-color: #8C9EFF;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: lighter;
    
  }
  
  .btn-medium:hover {
      transition: 0.3s;
    opacity: 1;
    text-decoration: none;
    background-color: white;
    color: #8C9EFF;
    border: 1px solid #8C9EFF;
  }